
html {

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: min(600px, 100vw);
    margin: 0 auto;
    /*background-color: rgba(0, 255, 255, 0.1);*/
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 40px;
    /*background-color: rgba(0, 255, 255, 0.1);*/
}

.form-group {
    border: 1px solid green;
    padding: 0 3px;
    width: 100%;
    box-shadow: 3px 5px 15px 2px rgba(186, 186, 186, 0.7);
    position: relative;
}

.form-legend {
    position: absolute;
    top: -22px;
    padding-bottom: 45px;
    z-index: 1000;
}

.form-label {
    margin: 0 5px;
}

.form-group input, .form-group select {
    background-color: transparent;
    border: none;
    flex: 1;
}

.form-group input, .form-group select, .form-group label {
    line-height: 25px;
}

/*.form-input::-webkit-input-placeholder {*/
/*    color: transparent;*/
/*    border: none;*/
/*}*/


/*.form-input:focus ~ .form-label,*/
/*.form-input:not(:placeholder-shown).form-input:not(:focus) ~ .form-label {*/
/*    display: block;*/
/*    top: 5px;*/
/*    font-size: 14px;*/
/*    color: orangered;*/
/*}*/

/*.form-input:focus ~ .form-label{*/
/*    background-color: orange;*/
/*}*/

/*.form-group:hover ~ .form-label {*/
/*    display: inline-block;*/
/*    background-color: aqua;*/
/*}*/


.form-button {
    padding: 3px 16px;
    border: 1px solid green;
    border-radius: 3px;
    background-color: rgba(0, 139, 139, 0.3);
    color: #032626;
    box-shadow: 3px 5px 15px 2px rgba(186, 186, 186, 0.7);
}

.transparent {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
    transition: all .3s .1s ease-in-out;
    /*display: none;*/
}